@import 'defaults';

body {
  background: linear-gradient(180deg, #a90000, black) no-repeat;

}

#text {
  color: black;
  font-family: "Trebuchet MS";
}

#title {
  background: linear-gradient(90deg, red, black) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#tree {
  float: left;
  top: 0;
  max-width: 10%;
  img {
    max-width: 100%;
  }
}

#comparison {
  float: right;
  top: 0%;
  max-width: 90%;
  img {
    max-width: 100%;
  }
}

#xerxes {
  float: left;
  top: 0;
  max-width: 10%;
  img {
    max-width: 100%;
  }
}


#cliff {
  float: left;
  top: 0;
  max-width: 10%;
  img {
    max-width: 100%;
  }
}


#date {
  float: left;
  z-index: 1;
  position: absolute;
  font-size: 1.7vh ;

}

#container {
  margin-bottom: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-left: 5%;
  color: black;
  position: relative;
  max-width: 100%;
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  font-size: 2.8vh;
  height: 100%;
  width: 83%;
  border: solid 5px black;
  background-color: white;
}